nav li{
    display: inline-block;
    text-align: right;
}
nav{float: right;}
h1{
    font-family: cursive;
    text-align: center;
}
h2, h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
main{
text-align: center;
padding: 30px;
}
img{
    width: 250px;
    padding: auto;
}
nav li{
    list-style-type: none;
}
main li{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
}
a:link{
    color: black;
}
.join{
    padding-top: 20px;
}
.headings{
    text-align: center;
}