*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'montserrat', 'Poppins', sans-serif;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /*main css*/

html{
    font-family: cursive;
}
header{
    display: flex;
    padding-inline: 200px;
    padding-block-start: 40px;
}

.nav li{
    display: inline-block;
    text-align: right;
}

   .toc
   {
    border: 2px solid blue;
    width: 250px;
    border-radius: 4px;
    margin-inline-start: 200px;
    margin-block-start: 40px;
    padding-block: 10px;
   } 

   a{
text-decoration: none;
   }   

h4{
    padding-inline-start: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

   .toc li{
    list-style-type: none;
    line-height: 1.8;
   }
   .sub{
    padding-inline-start: 15px;
   }
    .main{
        padding-inline-start: 200px;
    }

   img{
       width: 250px;
       padding: auto;
   }
   h2{padding-block-start: 40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

   .autobio p{
    padding-block-start: 30px;
    max-width: 250px;
   }




/*
nav li{
}

h1{
    font-family: cursive;
    text-align: center;
}
h2, h4{
    text-align: center;
}
main{
text-align: center;
padding: 30px;
}
nav li{
    list-style-type: none;
}
main li{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
}
a:link{
    color: black;
}
.join{
    padding-top: 20px;
}
.headings{
    text-align: center;
}
*/